/* AppComponent's private CSS styles */

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #000; /*Sets the text hover color on navbar*/
}
.navbar-default .navbar-brand {
    color: white;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active >a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: white; 
    /*BACKGROUND color for active*/
    background-color: #030033;
}

.navbar-default {
    background-color: #6dc2af;
    border-color: #030033;
}

.nav > li > a:hover,.nav > li > a:focus{
     text-decoration: none;background-color: #039be5; /*Change rollover cell color here*/
}

.navbar-default .navbar-nav > li > a {
    color: white; 
    /*Change active text color here*/
}