<nav class="navbar navbar-default">
  <div class="container-fluid"><!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header"><a class="navbar-brand" >Capco Angular Table Assessment</a></div>
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav pull-center">
      <li class="nav-item"><a class="nav-link" routerLinkActive="active" [routerLink]="['/normal']">Normal</a></li> 
      <li class="nav-item"><a class="nav-link" routerLinkActive="active" [routerLink]="['/infinite']">Infinite</a></li> 
    </ul> 
  </div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>
<div class="body-panel">
<router-outlet></router-outlet>

