<div class="container" style="width: 1500px; height: 600px;">
    <h3>Table with Pagination</h3>
    <h3>Enter the no of rows</h3>
    <input type="number" [(ngModel)]="numberofRecords">
    <input type="button" value="Set Records"(click)="setrecords(this.numberofRecords)">
    <hr>

        <table>

            <tr>
                <th>Name</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Company</th>
                <th>Date Entry</th>

                <th>Org Number</th>
                <th>Address</th>
                <th>City</th>
                <th>Zip</th>

                <th>GEO</th>
                <th>PAN</th>
                <th>PIN</th>
                <th>Id</th>
                
                <th>Status</th>
                <th>Fee</th>
                <th>Guid</th>
                <th>Date Exit</th>
                <th>Date First</th>
                <th>Date Recent</th>
                <th>URL</th>
            </tr>
            <tr *ngFor="let item of pageditems">
              <td>{{ item.name }}</td>
              <td>{{ item.phone }}</td>
              <td>{{ item.email }}</td>
              <td>{{ item.company }}</td>
              <td>{{item.date_entry}}</td>
              <td>{{ item.org_num }}</td>
              <td>{{ item.address_1 }}</td>
              <td>{{ item.city }}</td>
              <td>{{ item.zip }}</td>
              <td>{{ item.geo }}</td>
              <td>{{ item.pan }}</td>
              <td>{{ item.pin }}</td>
              <td>{{ item.id }}</td>
              <td>{{ item.status }}</td>
              <td>{{ item.fee }}</td>
              <td>{{ item.guid }}</td>
              <td>{{ item.date_exit }}</td>
              <td>{{ item.date_first }}</td>
              <td>{{ item.date_recent }}</td>
              <td>{{ item.url }}</td>
            </tr>
          </table>



         
    <div style="float:right">
        <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
            <li [ngClass]="{disabled:pager.currentPage === 1}">
                <a (click)="setPage(1)">First</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === 1}">
                <a (click)="setPage(pager.currentPage - 1)">Previous</a>
            </li>
            <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                <a (click)="setPage(page)">{{page}}</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                <a (click)="setPage(pager.currentPage + 1)">Next</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                <a (click)="setPage(pager.totalPages)">Last</a>
            </li>
        </ul>
    </div>
</div>